/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* volkhov-regular - latin */
@font-face {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/volkhov-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/volkhov-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* volkhov-700 - latin */
@font-face {
font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
src: local(''),
        url('../fonts/volkhov-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/volkhov-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
:root{
--orange: #DF6951;
--dark:#212832 ;
--category-type-color: #5E6282;
--category-name-color:#14183E;
--grey:#686D77;
}
html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font: normal normal 16px/30px 'Poppins';
    color: var(--dark);
    background-color: #FFFFFF;
    background: url('../img/Decore.png') no-repeat 50% 0;
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}


/*  Header styles start  */

.header {
    
}
.header-wrapper{
    display: flex;
    flex-wrap: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 48.7px;
}
.header-nav {
    height: 50px;
}
.header-list {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-item {
    
    height: 100%;
    text-align: center;
}
.header-item:last-child {
    margin-right: 0;
    
}
.header-link {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    padding: 9px 25px;

}
.header-item a:visited {
    color: black;
    
}
.sign-up-li {
    margin: 0 25px;
}
.sign-up {
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 9px 22px;
}
.arr-down {
    width: 9px;
    height: 4.5px;
    margin-left: 6.5px;
    display: inline;

}
.language-select {
    cursor: pointer;
    padding: 9px 0px;
}
.lang {
    display: inline;
    padding-left: 25px;
}
/*  Header styles end  */

/* Intro styles start */
.intro  {
    padding-top: 105px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.intro-tag {
    padding-top: 112px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--orange);
    margin-bottom: 24px;
}
.main-tagline {
    font: 84px/89px 'Volkhov';
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 545px ;
    letter-spacing: -0.04em;
}
.right-side-intro {
    width: 635px;
    position: relative;
}
.right-side-intro img{
    position: absolute;
    top: 0;
    left: -190px;
}
.Decore-main-tagline {
    position: absolute;
    top: 240px;
    left: 234px;;
    z-index: -1;
}
.left-side-intro {
    position: relative;
}
.under-main-tagline{
    max-width: 477px;
    margin-bottom: 34px;
    
}
.intro-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.circle {
    width: 52px;
    height: 52px;
    background-color: var(--orange);
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    border-radius: 50%;
    position: relative;
}
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-40%) translateY(-50%);
    border-top: 5px solid transparent;
	border-left: 10px solid rgb(255, 255, 255);
	border-bottom: 5px solid transparent;
}
.intro-more-btn {
    border: 0;
    color: white;
    padding: 19px 26px 18px 27px;
    width: 170px;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    margin-right: 44px;
}
.intro-more-btn:hover, .intro-more-btn:focus {
    background-color: #d99b15;
}
.play-btn{
    cursor: pointer;
    margin-right: 21px;
}
.intro-play-demo-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: var(--grey);
}
.intro-play-demo-text a{
    text-decoration: none;
    color: inherit;
}
.intro-section{
    padding-bottom: 237px;
}
/* Intro styles end */
/* Category section styles start*/
.category-section {
    position: relative;
    margin-bottom: 150px;
}
.type-of-section {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--category-type-color);
    margin-bottom: 10px;
}

.section-header {
    font:normal 700 50px/64.5px 'Volkhov';
    text-align: center;
    color: var(--category-name-color);
    text-transform: capitalize;
    margin-bottom: 65px;
}

.services-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
}
.service-item {
    width: 267px;
    height: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    background-color: transparent;
    border-radius: 36px;

}
.service-item:hover {
    background-color: white;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.service-item:hover.service-item::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: #DF6951;
    border-radius: 30px 0px 10px;
    position: absolute;
    bottom: -33px;
    left: -35px;
    z-index: -1;
}
.service-icon {
    padding-bottom: 29px;
    text-align: center;
    top: 10px;
    position: absolute;
}
.service-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1E1D4C;
    padding-bottom: 15px;
    padding-top: 149px;
}
.service-descryption {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #5E6282;
    max-width: 181px;
    text-align: center;
}
.decorate-service {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 30px 0px 10px;
    background-color: var(--orange);
    z-index: -1;
}
.decoration-plus {
    position: absolute;
    top: 0;
    right: 0;
}
/* Category section styles end*/
/* Category Destinations styles start*/
.destination-section{
    margin-bottom: 186px;
    position: relative;
}
.destination-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.destination-list-link {
    text-decoration: none;
}
.destination-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 315px;
    height: 457px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 24px;
}
.bottompart {

    width: 315px;
    height: 130px;
    border-radius: 0px 0px 24px 24px;
    background-color: white;
    padding: 0 20px;
}
.bottompart div:first-child {
    display: flex;
    margin-top: 27px;
    margin-bottom: 19px;
    justify-content: space-between;

}
.bottompart div:last-child{
    display: flex;

}
.bottompart div:last-child img{
    width: 16px;
    height: 16px;
    display: inline;
    margin-right: 16px;
}
.bottompart .country {
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}
.bottompart .price {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;

}
.bottompart .time {
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}
.rome {
    background: url('../img/Rome.png') no-repeat ;
}
.UK {
    background: url('../img/UK.png') no-repeat ;
}
.Europe {
    background: url('../img/Europe.png') no-repeat ;
}
.decore-dest {
    position: absolute;
    top: 320px;
    right: -20px;
}

/* Category Destinations styles end*/
/* Category book-section styles start*/
.book-section {
    margin-bottom: 200px;
}
.book-section-sides {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.header-left {
    max-width: 511px;
    text-align: left;
}
.book-section-header {

    margin-bottom: 31px;
}
.type-left {
    margin-bottom: 15px;
    text-align: left;
}
.left-side-book-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.book-item-list li::before {
    display: block;
    position: absolute;
    content: "";
    width: 47px;
    height: 48px;
    left: -68px;
    border-radius: 13px;
  
    
}
.book-item-list li {
    position: relative;
    margin-bottom: 48px;
}
.book-item-list li:last-child {
    margin-bottom: 0px;
}
.book-item-list .mg {
    margin-left: 68px;
}
.bg-yellow::before {
    background-color: #F0BB1F ;
    background-image: url('../img/destination-icon.png') ;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-red::before {
    background: #F15A2B;
    background-image: url('../img/water-sport-icon.png') ;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-blue::before {
    background: #006380;
    background-image: url('../img/taxi-icon.png') ;
    background-repeat: no-repeat;
    background-position: center;
}
.book-item .header {
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
    padding-bottom: 4px;
}
.book-item .discryption {
    max-width: 327px;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}
.right-side-book-section {
    position: relative;
    width: 50%;
    height: 500px;
}
.book-trip-link {
    text-decoration: none;
    
}
.book-trip {
    width: 370px;
    height: 400px;
    background: #fff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 25px;
    padding-bottom: 30px;
    margin-top: 78px;
    margin-left: 118px;
    position: relative;
}
.trip-img {
    margin-bottom: 26px;
    width: 321px;
    height: 161px;
    
}
.trip-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: 0.015em;
    color: #080809;
    margin-bottom: 13px;
}
.trip-dates {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    color: #84829A;
    padding-right: 3px;
    margin-right: 13px;
    position: relative;
}
.trip-dates::after {
    content: "";
    display: block;
    height: 16px;
    width: 1px;
    background-color: #84829A;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3px;
}
.dates-container {
    position: relative;
    margin-bottom: 21px;
}
.trip-author {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    color: #84829A;

}
.options-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 31px;
}
.options-container .options-link {
    width: 36px;
    height: 36px;
    background: #F5F5F5;
    border-radius: 50%;
    position: relative;
    margin-right: 18px;
    
}
.options-container div img {
    width: 14px;
    height: 14px;
   
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}

.bottom-container .building-icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;
    display: inline-block;
}
.people-counter {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
    color: #84829A;
    display: inline-block;
}
.heart-icon {
    width: 20px;
    height: 19px;
}
.heart-icon-link:hover + .complete-section {
    display: flex;
}
.complete-section {
    position: absolute;
    width: 263px;
    height: 129px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 18px;
    right: -115px;
    bottom: 52px;
    padding: 16px 20px;
    display: none;
}
.trip-logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 11px;
}
.complete-section .right-side {
    display: flex;
    flex-direction: column;
}
.right-side .type-trip {
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.035em;
    color: #84829A;
    margin-bottom: 6px;
}
.right-side .trip-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: -0.015em;
    color: #080809;
    margin-bottom: 14px;
}
.right-side .complete-conter {
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.055em;
    margin-bottom: 10px;
}
.right-side .complete-conter span {
    color: #8A79DF;
  
}
.right-side .line-full {
    width: 156px;
    height: 5px;
    background: #F5F5F5;
    border-radius: 30px;
}
.right-side .line-full .line-complete {
    width: var(--data-value);
    height: 5px;
    background: #8A79DF;
    border-radius: 30px;    
    display: block;
    
}
.decorate-book-section{
    position: absolute;
    width: 354px;
    height: 367px;
    top: 0;
    right: 0;
    background: #59B1E6;
    opacity: 0.4;
    filter: blur(75px);
}
/* Category book-section styles end*/
/* Category testimonials-section styles start*/
.testimonials-section {
    margin-bottom: 196px;
}
.left-side-testimonials-section {
    position: relative;
    display: flex;
    flex-direction: column;
}
.header-testimonials-section {
    margin-bottom: 82px;
}
.wrap {
    
    height: 12px;
}

[type="radio"]{
	display: none;
}

label {
	cursor: pointer;
	margin-right: 26px;
}

label:before {
	content: '';
	display: inline-block;
	height: 12px;
	width: 12px;
	background: #E5E5E5;
	border-radius: 50%;
	z-index: 2;
	transition: box-shadow .4s ease, background .3s ease;
}

input:checked + label:before {
	background: #39425D;
}
.testimonials-section-sides {
    display: flex;
}
.review {
    width: 504px;
    height: 245px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 34px;
    position: absolute;
    z-index: 100;
    margin-top: 34px;
}
.right-side-testimonials-section .text {
    max-width: 402px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #5E6282;
    margin-bottom: 34px;
}
.right-side-testimonials-section .name {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
}
.right-side-testimonials-section .location {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #5E6282;
    background-color: white;
}
.right-side-testimonials-section .profile-img {
    position: absolute;
    width: 68px;
    height: 68px;
    top: -34px;
    left: -34px;
}
.right-side-testimonials-section { 
    position: relative;
    display: flex;
}
.behind{
   
    position: absolute;
    top: 90px;
    left: 50px;
    border: 2px solid #F7F7F7;
    z-index: 1;
    filter: 0;
    box-shadow: none;
}


.right-side-testimonials-section .controls {

    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    
    top: 100px;
    right: -620px;
}

.up-arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #BCB7C2 !important;
    border-right: 2px solid #BCB7C2 !important;
    transform: rotate(-45deg);
    display: inline-block;
    transition: 1s;
    cursor: pointer;
}
.down-arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    transform: rotate(135deg);
    display: inline-block;
    transition: 1s;
    cursor: pointer;
}
/* Category testimonials-section styles end*/
/* Category logos-section styles start*/
.logos-section {
    margin-bottom: 111px;
}
.logo-container{
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.logo-item {
    width: 221px;
    height: 86px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
}
.logo-item:hover{
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    
}
.logo-item:hover .logo {
    mix-blend-mode:normal;
}
.logo {
    position: absolute;
    mix-blend-mode: luminosity;
    left: 50%;
    transform: translateX(-50%);
}
/* Category logos-section styles end*/
/* Category subscribe-section styles start*/
.subscribe-section {
    margin-bottom: 166px;

}
.subscribe-container {
    width: 1170px;
    height: 407px;
   
    background: rgba(223, 215, 249, .2);
    border-radius:  129px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 70px;
}
.title-subscribe {
    max-width: 859px;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    color: #5E6282;
    text-align: center;
    margin-bottom: 74px;
}

.input-email-field img {
    position: relative; 
}
.email-form {
    display: flex;
    justify-content: center;
}
.text-field__icon {
    position: relative;
}

.text-field__icon::before {
    content: '';
    color: #bdbdbd;
    display: block;
    width: 21px;
    height: 18px;
    background-image: url('../img/mail-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 18px;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
}
.text-field__icon .text-field__input {
    padding-left: 66px;
    width: 421px;
    height: 68px;
    border: 0;
    background: #FFFFFF;
    border-radius: 10px;
    margin-right: 24px;
}

.sub-button {
    padding: 22px 50px;
    height: 68px;
    background: linear-gradient(#FF946D 0, #FF7D68 100%) ;
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
}
.plane-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: translateX(50%) translateY(-50%);
}
.decore {
    position: absolute;
    bottom: -70px;
    right: -90px;
}
.decore-1 {
    position: absolute;
    bottom: 0;
    left: 20px;
    opacity: 0.1;
}
.decore-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    opacity: 0.1;
}
/* Category subscribe-section styles end*/
/* Category footer-section styles start*/
.footer {
    margin-bottom: 79px;
}
.footer a {
   text-decoration: none;
   color: inherit;
}
.footer-container {
    max-width: 1060px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 84px;
}
.company-desc-colunm {
    display: flex;
    flex-direction: column;
    width: 207px;
}
.company-desc-colunm .logo-footer {
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    color: #181E4B;
    margin-bottom: 19px;
}
.company-desc-colunm .desrypt {
    max-width:  207px;
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
    color: #5E6282;
}
.nav-column {
    display: flex;
    flex: 1 1 474px;
    justify-content: space-around;
    margin-top: 23px;
}


.nav-column ul>li {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
    margin-bottom: 12px;
    
}
.nav-column ul {
    display: flex;
    flex-direction: column;
}
.nav-column ul>lh {
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
    margin-bottom: 34px;
}
.icon-back {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-right: 25px;
}
.icon-back .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.icon-back:hover {
    
    background: conic-gradient(from 180deg at 51% 51%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
}
.icon-back:hover .icon {
    filter: invert(100%);
}
.social {
    margin-top: 22px;
    margin-bottom: 26px;
    
}
.outbound-column .social {
    display: flex;
    flex-direction: row;
    flex: 1 1 214px;
}
.discover p {
    font-weight: 500;
    font-size: 20px;
    line-height: 124.5%;
    letter-spacing: 0.005em;
    color: #5E6282;
    margin-bottom: 15px;
}
.outbound-column {
    width: 215px;
}
.copyrights {
    text-align: center;
}
/* Category footer-section styles end*/